
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MyM Architecture</title>
  <!-- link google fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;500;600;700&display=swap" rel="stylesheet">
   <!-- linkear nuestro css -->
   <link rel="stylesheet" href="../css/estilo2.css">
   <style>
      /*
      selectora { bloque de codigo
         propiedad: valor;
       }
       */
   </style>
</head>
<body>
  <header class="border">
    <div class="logo">
       <img src="../assets/img/logo.jpg " alt="logo">
    </div>

    <nav>
       <ul>
           <li>
               <a href="nosotros.html">NOSOTROS</a>
            </li>
           <li>
               <a href="productos.html">PRODUCTOS</a>
               </li>
           <li>
               <a href="servicios.html">SERVICIOS</a>
               </li>
           <li>
               <a href="contacto.html">CONTACTO</a>
            </li>
       </ul>
      </nav>

  </header>
        <! --apertura de contenido-- >

       
       <main>
       	    <div class="encabezado border">
       	    	<h1>SERVICIOS</h1>
            <div class="contenedorTxtImg">
               <div class="texto">      
       	    	<p>Cumplir el sueño de la casa propia es un ideal en todas las familias, pero en MyM Construcciones ese hecho que parecía inalcanzable se ha ido convirtiendo en una realidad para miles de familias. Esta realidad no está concentrada para unos pocos, sino que se expande en todo tipo de construcciones</p>
       	    </div>

       	    <! --TABLA-- >
       	    <table border="1" cellpadding="10" cellspacing="5">
       	    	  <! --fila encabezado-- >
       	    	  <tr>
       	    	     <th>MODALIDAD</th>
       	    	     <th>TIPO</th>	
       	    	     <th>PRECIO</th>
       	    	  </tr>
            <div class="texto">     
       	    	  <! --fila 2-- >

       	    	  <tr>
       	    	  	 <td>LLAVE EN MANO</td>
       	    	  	 <td>CONSTRUCCION CONVENCIONAL</td>
       	    	  	 <td>U$d 1200 </td>
       	    	  </tr>
       	    	  <tr>
       	    	  	 <td>LLAVE EN MANO</td>
       	    	  	 <td>STELL FRAME</td>
       	    	  	 <td>U$d 1500 </td>

       	    	  </tr>

       	    </table>
       	     
       	</div>
    <tr>
     <div class="img border">
      <td><img src="../assets/img/header5.png" style="width:1350px; height:300px"></td>
    </tr>
    <tr>
      <td><audio src="../assets/audio/electro.mp3" controls></audio></td>
    </tr>
    </div>  
        <tr>


       </main>
       
        <! --apertura footer-->
        <! --hr genera linea divisoria-- >
       <hr>

      <footer class="border">

              <div class="logo">
                  <img src="../assets/img/logo.jpg" alt="logo">
              </div>
              <div class="rrss">
                    <h3>RRSS</h3>
                  <img src="../assets/img/instagram.png" alt="rrss">
              </div>
              <div class="contacto">
                    <h3>CONTACTO</h3>
                  <img src="../assets/img/facebook.png" alt="contacto" style="height: 50px">
              </div>
               
              </footer>

</body>

</html>